<a href="https://colab.research.google.com/github/fegasu/python/blob/master/25sept2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tupla=4,5,6
tupla_anidada=(4,5,6),(7,8)
print(tupla[2])
((1,2,3)+(4,5,6))*3
tupla*3

6

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [ ]:
tupla=1,2,3
x,y,z=tupla
x
y
z
tupla=4,5,(6,7)
a,b,(c,d)=tupla
c

6

In [ ]:
a,b=10,5
a
b,a=a,b
a

5

In [ ]:
values=tuple(range(10))
a,b,c,*rest=values
print(a,b,c,rest)

a,b,c,*_=values
print(_)

0 1 2 [3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]

Cuenta repeticiones en una tupla

In [ ]:
a=11,2,2,2,2,3,60,5,3,7,2
a.count(2)

5

Listas

In [ ]:
lista_0=[2,3,5,7]
tupla=(1,2,3,4,5)
lista=list(tupla)

gen=range(15)
list(gen)
# numero pares
l=range(0,40,2)
print(l[3])

6

insercion y remocion

In [ ]:
lista_2=["uno","dos","tres"]
lista_2.append("cuatro")
lista_2.insert(1,"uno y medio")
for i in lista_2:
  print(i)
lista_2[-1]="cinco"
for i in lista_2:
  print(i)

uno
uno y medio
dos
tres
cuatro
uno
uno y medio
dos
tres
cinco

insertar valores

In [ ]:
lista_2.pop(3)
lista_2.pop()
for i in lista_2:
  print(i)

uno
uno y medio
dos

Busca un valor en la lista

In [ ]:
"dos" in lista_2

True

In [ ]:
a=[1,2,3,4]+[5,6,7,8]
a.extend([7,8,(2,3)])
a.extend(range(4))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 7, 8, (2, 3), 0, 1, 2, 3]

In [ ]:
fila1=[]
fila2=[]
i=0
a=0
while i<8:
  if i%2==0:
    fila1.append("B")
  else:
    fila1.append("N")
  if i%2==0:
    fila2.append("N")
  else:
    fila2.append("B")
  i=i+1
tab=[]
for i in range(8):
  tab.append("N" if i%2 ==0 else "B")
for i in range(8):
  tab.append(fila1 if i%2 ==0 else fila2)
print(tab)

['N', 'B', 'N', 'B', 'N', 'B', 'N', 'B', ['B', 'N', 'B', 'N', 'B', 'N', 'B', 'N'], ['N', 'B', 'N', 'B', 'N', 'B', 'N', 'B'], ['B', 'N', 'B', 'N', 'B', 'N', 'B', 'N'], ['N', 'B', 'N', 'B', 'N', 'B', 'N', 'B'], ['B', 'N', 'B', 'N', 'B', 'N', 'B', 'N'], ['N', 'B', 'N', 'B', 'N', 'B', 'N', 'B'], ['B', 'N', 'B', 'N', 'B', 'N', 'B', 'N'], ['N', 'B', 'N', 'B', 'N', 'B', 'N', 'B']]

In [ ]:
a=[7,2,5,1,3]
a.sort()
print(a)

[1, 2, 3, 5, 7]

In [ ]:
import bisect
c=[1,2,2,2,3,4,7]
bisect.bisect(c,2)

4

Rebanados

In [ ]:
seq=[7,2,3,7,5,6,0,1]
seq[1:5]
seq[3:]
seq[::2]

[7, 3, 5, 0]

colecciones

In [ ]:
coleccion=[2,3,6,44,12,9]
i=0
for valor in coleccion:
  print('Este ciclo {0}'.format(i))
  i+=1

Este ciclo 0
Este ciclo 1
Este ciclo 2
Este ciclo 3
Este ciclo 4
Este ciclo 5

Diccionario

In [ ]:
diccionario=dict()
d1={"a":"un valor","b":"otro valor"}
d1["b"]="todavia otra"
d1["b"]
d1.keys()
d1.values()

dict_values(['un valor', 'todavia otra'])

Conjuntos

In [ ]:
a=set([2,2,2,1,3,3])
a={1,2,3,4,5}
b={3,4,5,6,7,8}
a.union(b)
a & b
a.intersection(b)

{3, 4, 5}

Lista conjuntos y diccionarios por comprensión

In [ ]:
strings=["a", "as","bat","car","dove","python"]
a=[x.upper() for x in strings if len(x)>2]
a
long_unicas={len}

['BAT', 'CAR', 'DOVE', 'PYTHON']

zip

In [ ]:
seq1=["uno","dos","tres"]
seq2=["a","b","ce"]
seq3=[False,True]
lista_de_tuplas=zip(seq1,seq2,seq3)

In [ ]:
nombres_completos=[("Andres","Agudelos"),
                  ("Brayan","Beltran"),
                  ("Camila","Cruz")]
nombres,apellidos=zip(*nombres_completos)
nombres
apellidos

('Agudelos', 'Beltran', 'Cruz')

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Reto:
Usando comprension de listas, modelar una baraja de cartas, donde cada una de las cartas se escriba con una tupla. Asuma que J=10, Q=11 y K=12

In [ ]:
cartas=[("T",range(13)),
        ("C",range(13)),
        ("P",range(13)),
        ("D",range(13))
       ]
        
[x for x in zip(("T","C","P","D")*13,list(range(1,14))*14)]

[('T', 1),
 ('C', 2),
 ('P', 3),
 ('D', 4),
 ('T', 5),
 ('C', 6),
 ('P', 7),
 ('D', 8),
 ('T', 9),
 ('C', 10),
 ('P', 11),
 ('D', 12),
 ('T', 13),
 ('C', 1),
 ('P', 2),
 ('D', 3),
 ('T', 4),
 ('C', 5),
 ('P', 6),
 ('D', 7),
 ('T', 8),
 ('C', 9),
 ('P', 10),
 ('D', 11),
 ('T', 12),
 ('C', 13),
 ('P', 1),
 ('D', 2),
 ('T', 3),
 ('C', 4),
 ('P', 5),
 ('D', 6),
 ('T', 7),
 ('C', 8),
 ('P', 9),
 ('D', 10),
 ('T', 11),
 ('C', 12),
 ('P', 13),
 ('D', 1),
 ('T', 2),
 ('C', 3),
 ('P', 4),
 ('D', 5),
 ('T', 6),
 ('C', 7),
 ('P', 8),
 ('D', 9),
 ('T', 10),
 ('C', 11),
 ('P', 12),
 ('D', 13)]

Funciones

In [ ]:
w=5
def my_function(x,y,z=1.5):
  if z>1:
    w=z*(x+y)
    return w
  else:
    return z/(x+y)
# print(my_function(1,20,5))

def f(x,y,z):
  return x**2+y**2+z**2
print(f(1,2,3))
def w(x,y,z):
  return 5
print(w(1,2,3))

def m(x,y):
  if x>y:
    return x
  if x==y:
    return x+y
  if x<y:
    return y
print(m(8,8))

14
5
16

In [ ]:
def nombrecompleto(pnombre="",snombre="",papellido="",sapellido=""):
  return pnombre+" "+snombre+" "+papellido+" "+sapellido

nombrecompleto(snombre="Orlando",sapellido="Alzate")

' Orlando  Alzate'

Namespaces, Scope, Funciones Locales

In [ ]:
def func():
  del a
  a=[]
  for i in range(5):
    a.append(1)
    
a=[]
def func():
  for i in range(5):
    a.append(i) 
 
a=None
def cambiar_a():
  global a
  a=[]

func()
print(a)

AttributeError: ignored

In [ ]:
def f():
  a=5
  b=6
  c=7
  return a,b,c
retorno=f()
x,y,z=f()

In [ ]:
import re
ciudades=[
    '   Bogota    ','    Bucaramanga      ','bogota','Bogotá!','MEDELLIN','santa marta##','bogota?'
]
ciudades
def limpiar(strings):
  resultado=[]
  for valor in strings:
    valor=valor.strip()
    valor=re.sub('[!#?]','',valor)
    valor=valor.title()
    resultado.append(valor)
  return resultado
ciudades=limpiar(ciudades)
ciudades

['Bogota',
 'Bucaramanga',
 'Bogota',
 'Bogotá',
 'Medellin',
 'Santa Marta',
 'Bogota']

In [ ]:
def puntuacion(valor):
   return r.sub('[!#?]','' valor)
operaciones=[str.strip,puntuacion,str.title]
def limpiar_v2(strings,ops):
  resultado=[]
  for valor in strings:
    for operacion