<a href="https://colab.research.google.com/github/fegasu/python/blob/master/Sesio7_Jose_fernando_Galindo_Suarez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Diccionario

polizas = {
 'Area':['Comercial','Gerencia','Produccion','Gerencia','Produccion','Comercial','Gerencia','Comercial','Produccion','Comercial'],
 'Edad':[28,50,37,35,42,35,None,47,51,36],
 'Monto':[51000,68000,73000,61000,None,55000,63000,60000,81000,58000],
 'Renovada':['No','Si','No','No','Si','Si','No','Si','No','Si']}

# DataFrame
df = pd.DataFrame(polizas)

# Imprimir el DataFrame
print(df)

         Area  Edad    Monto Renovada
0   Comercial  28.0  51000.0       No
1    Gerencia  50.0  68000.0       Si
2  Produccion  37.0  73000.0       No
3    Gerencia  35.0  61000.0       No
4  Produccion  42.0      NaN       Si
5   Comercial  35.0  55000.0       Si
6    Gerencia   NaN  63000.0       No
7   Comercial  47.0  60000.0       Si
8  Produccion  51.0  81000.0       No
9   Comercial  36.0  58000.0       Si

In [ ]:
# Vectores con las feautures y el label o target
X = df.iloc[:,[0,1,2]].values
y = df.iloc[:,3].values
print(X)
print(y)

[['Comercial' 28.0 51000.0]
 ['Gerencia' 50.0 68000.0]
 ['Produccion' 37.0 73000.0]
 ['Gerencia' 35.0 61000.0]
 ['Produccion' 42.0 nan]
 ['Comercial' 35.0 55000.0]
 ['Gerencia' nan 63000.0]
 ['Comercial' 47.0 60000.0]
 ['Produccion' 51.0 81000.0]
 ['Comercial' 36.0 58000.0]]
['No' 'Si' 'No' 'No' 'Si' 'Si' 'No' 'Si' 'No' 'Si']

In [ ]:
# Imputar la media a los valores faltantes con vectores

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan,strategy="mean")

imputer.fit(X[:,1:3])

X[:,1:3] = imputer.transform(X[:,1:3])

print(X)

[['Comercial' 28.0 51000.0]
 ['Gerencia' 50.0 68000.0]
 ['Produccion' 37.0 73000.0]
 ['Gerencia' 35.0 61000.0]
 ['Produccion' 42.0 63333.333333333336]
 ['Comercial' 35.0 55000.0]
 ['Gerencia' 40.111111111111114 63000.0]
 ['Comercial' 47.0 60000.0]
 ['Produccion' 51.0 81000.0]
 ['Comercial' 36.0 58000.0]]

In [ ]:
# Codificar el label convirtiéndolo en una variable numérica
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

y = le.fit_transform(y)

print(y)

[0 1 0 0 1 1 0 1 0 1]

In [ ]:
# DataFrames con las feautures y el label o target
X = df[['Area','Edad','Monto']]
y = df[['Renovada']]
# Imputar la media a los valores faltantes con DataFrames
X.loc[(X.Edad.isnull()),'Edad'] = X.Edad.mean()
X.loc[(X.Monto.isnull()),'Monto'] = X.Monto.mean()
print(X)

         Area       Edad         Monto
0   Comercial  28.000000  51000.000000
1    Gerencia  50.000000  68000.000000
2  Produccion  37.000000  73000.000000
3    Gerencia  35.000000  61000.000000
4  Produccion  42.000000  63333.333333
5   Comercial  35.000000  55000.000000
6    Gerencia  40.111111  63000.000000
7   Comercial  47.000000  60000.000000
8  Produccion  51.000000  81000.000000
9   Comercial  36.000000  58000.000000

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [ ]:
# "Dumificar" variable categórica

dummies = pd.get_dummies(X['Area']).rename(columns=lambda o: 'Area_' + str(o))
X = pd.concat([X, dummies], axis=1)
X = X.drop(['Area'], axis=1)
print(X)

        Edad         Monto  Area_Comercial  Area_Gerencia  Area_Produccion
0  28.000000  51000.000000               1              0                0
1  50.000000  68000.000000               0              1                0
2  37.000000  73000.000000               0              0                1
3  35.000000  61000.000000               0              1                0
4  42.000000  63333.333333               0              0                1
5  35.000000  55000.000000               1              0                0
6  40.111111  63000.000000               0              1                0
7  47.000000  60000.000000               1              0                0
8  51.000000  81000.000000               0              0                1
9  36.000000  58000.000000               1              0                0