# Estructuras de Datos

## Tuplas
Son secuencias ordenadas de tama帽o fijo e inmutables

In [273]:
tupla = 4, 5, 6
print(tupla)
print(type(tupla))

tupla2=(1,2,3)
print(tupla2)
print(type(tupla2))
# Pueden ser anidadas de la siguiente forma
tupla_anidada = tupla, tupla2
print(tupla_anidada)
print(type(tupla_anidada))
print(tupla_anidada[1])

(4, 5, 6)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>
((4, 5, 6), (1, 2, 3))
<class 'tuple'>
(1, 2, 3)

Es posible convertir una secuencia o iterador en una tupla.

In [274]:
x=[4,0,2]
print(type(x))


tupla2 = tuple([4, 0, 2])
tupla3 = tuple("string")
print(tupla3)

<class 'list'>
('s', 't', 'r', 'i', 'n', 'g')

Para consultar los elmentos de la tupla se usan corchetes cuadrados "_[ ]_".

In [275]:
print(tupla3[0])
tupla3[1]
tupla3[2]
tupla3[3]

s

'i'

Es posible concatenar tuplas con el operador `+`

In [276]:
w=(1, 2, 3) + (4, 5, 6)
w
type(w[4])
w[4]

5

De forma antiintuitiva tambi茅n es posible multiplicar tuplas por n煤meros enteros

In [277]:
w=(1, 2, 3) * 2
print(w)
type(w)

(1, 2, 3, 1, 2, 3)

tuple

"_Desempacar una tupla_" es una forma en la cual se asignan los elementos de una tupla a una variable

In [278]:
tupla = (1, 2, 3)
x, y,r = tupla
print(y)
type(y)

2

int

Usando este proceso para intercambiar nombres de variables

In [279]:
a, b = 10, 5
b, a = a, b
r = 10,5
type(r)
print(b)

10

"_Plucking_" es una forma alternativa de desempaquetamiento en la que solo se toman los primeros elementos de la tupla.  
Por convenci贸n, las variables no deseadas se marcan con "\_", esto no significa que la variable no exista.

In [280]:
values = tuple(range(10))
a, b, c, *mama= values
print(a, b, c)
print(mama)
print(type(mama))
a, b, c, *_ = values
print(a, b, c, _)

0 1 2
[3, 4, 5, 6, 7, 8, 9]
<class 'list'>
0 1 2 [3, 4, 5, 6, 7, 8, 9]

In [281]:
l=tuple(range(10))
l[0]=5  ###  Las tuplas son inmutables, no se pueden modificar

TypeError: 'tuple' object does not support item assignment

## Listas
Son secuencias de longitud variable, y mutables.
Se definen con "[]" o usando la funci贸n `list`

In [282]:
lista_0 = [2, 3, 5, 7]

tupla = (1, 2, 3, 4, 5)
lista_1 = list(tupla)

gen = range(15)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### Inserci贸n y remoci贸n
Para agregar elementos existen varios m茅todos.  
Pueden usarse las funciones `append` o `insert`, 贸 pueden usarse asignaciones dentro de un campo

In [283]:
lista_2 = ['uno', 'dos', 'tres']
print(lista_2)
print(len(lista_2))

lista_2.append('cuatro')
print(lista_2)
print(len(lista_2))


lista_2.extend(["a","b","c","d"])

lista_2.insert(1, 'uno y medio')
print(lista_2)
print(len(lista_2))

# Esta es otra forma de acceder al 煤ltimo elemento de una lista
lista_2[-2] = 'cinco'
print(lista_2)
print(len(lista_2))

lista_2.insert(-2,"Ensayo")
print(lista_2)
print(len(lista_2))

['uno', 'dos', 'tres']
3
['uno', 'dos', 'tres', 'cuatro']
4
['uno', 'uno y medio', 'dos', 'tres', 'cuatro', 'a', 'b', 'c', 'd']
9
['uno', 'uno y medio', 'dos', 'tres', 'cuatro', 'a', 'b', 'cinco', 'd']
9
['uno', 'uno y medio', 'dos', 'tres', 'cuatro', 'a', 'b', 'Ensayo', 'cinco', 'd']
10

El inverso de `insert` es `pop`. Se quitan elementos con `pop` usando un indice o el 煤ltimo elemento sin ning煤n argumento

In [284]:
lista_2.pop(3)
lista_2.pop()
print(lista_2)

['uno', 'uno y medio', 'dos', 'cuatro', 'a', 'b', 'Ensayo', 'cinco']

La funci贸n `remove` busca el primer elemento cuyo valor es igual al parametro y lo borra

In [285]:
lista_2.remove('uno y medio')

Se puede revisar si un elemento est谩 en la lista

In [286]:
print(lista_2)
print('dos' in lista_2)

##o si no est谩

'tres' not in lista_2

['uno', 'dos', 'cuatro', 'a', 'b', 'Ensayo', 'cinco']
True

True

De forma similar a las tuplas, las listas pueden ser concatenadas con `+`

In [287]:
[1, 2, 3, 4] + [5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [288]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

a, b, c= seq
j=1
for a,b,c in seq:
    j=a
    x=b
    k=c
    print("j={0},x={1},y={2}".format(a,b,c))
b

j=1,x=2,y=3
j=4,x=5,y=6
j=7,x=8,y=9

8

In [289]:
####Contar cu谩ntas veces aparece un elemento en una tupla
a=(1,2,2,3,3,3)
a.count(3)

3

### Slicing
En el operador de indice, se introducen valores de inicio y fin de la forma `lista[inicio:fin]`

In [290]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
print(type(seq))
seq[1:5]

<class 'list'>

[2, 3, 7, 5]

Es posible omitir alguno de los indices

In [291]:
seq[3:]

[7, 5, 6, 0, 1]

In [292]:
seq[:5]

[7, 2, 3, 7, 5]

Se puede agregar un tercer valor en el 铆ndice para indicar saltos

In [293]:
seq[:8:4]

[7, 5]

### Ejercicio

Modelar un tablero de ajedrez con arreglos, de tal forma que podamos recuperar el color de la casilla dada su posici贸n en  y .

In [294]:
tablero = []
for i in range(8):
    tablero.append([])
    for j in range(8):
        tablero[i].append('Negro' if (i + j) % 2 == 0 else 'Blanco')

In [295]:
tablero = []
#tablero.append([])
for i in range(8):
    tablero.append([])
    for j in range(8):
        tablero[i].append('Negro' if (i + j) % 2 == 0 else 'Blanco')

print("Valores del tablero")
print(tablero)

print("Una fila del tablero")
print(tablero[2])

print("cuadrado posici贸n 0,0")
print(tablero[0][0])

Valores del tablero
[['Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco'], ['Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro'], ['Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco'], ['Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro'], ['Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco'], ['Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro'], ['Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco'], ['Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro']]
Una fila del tablero
['Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco', 'Negro', 'Blanco']
cuadrado posici贸n 0,0
Negro

### Ejercicio

Usando comprensi贸n de listas modelar una baraja de cartas, donde cada una de las cartas se escriba con una tupla. Asuma que J = 10, Q = 11 y K = 12.

In [296]:
### Ordenar listas

a = [7,5,3,1,9,3]
a.sort()
print(a)

### Ordenar descendente

a.reverse()
print(a)


### Ordenar por tama帽o de string
b = ["dddd","a","eeeee","ccc","bb"]
b.sort(key=len)
print(b)

[1, 3, 3, 5, 7, 9]
[9, 7, 5, 3, 3, 1]
['a', 'bb', 'ccc', 'dddd', 'eeeee']

In [297]:
### Implementaci贸n y b煤squeda de inserci贸n binaria. S贸lo funciona para listas ordenadas.
import bisect

c=[1,2,2,2,5,8,10]

bisect.bisect(c,6)
bisect.insort(c,6)
print(c)

[1, 2, 2, 2, 5, 6, 8, 10]

In [298]:
### Enumerar listas

y = ["a","b","c","d","e","f"]

i=0

print("Solo utilizando valores")
for valor in y:
    print("la letra {0:s} est谩 en la posici贸n {1:d}".format(valor,i))
    i+=1

print("Utilizando enumerate")
for i,valor in enumerate(y):
    print("la letra {0:s} est谩 en la posici贸n {1:d}".format(valor,i))

Solo utilizando valores
la letra a est谩 en la posici贸n 0
la letra b est谩 en la posici贸n 1
la letra c est谩 en la posici贸n 2
la letra d est谩 en la posici贸n 3
la letra e est谩 en la posici贸n 4
la letra f est谩 en la posici贸n 5
Utilizando enumerate
la letra a est谩 en la posici贸n 0
la letra b est谩 en la posici贸n 1
la letra c est谩 en la posici贸n 2
la letra d est谩 en la posici贸n 3
la letra e est谩 en la posici贸n 4
la letra f est谩 en la posici贸n 5

In [299]:
### ordenar los valores de un objeto
print(sorted((1,4,8,2)))
print(sorted([5,7,1,-5]))
print(sorted('buenas tardes'))

[1, 2, 4, 8]
[-5, 1, 5, 7]
[' ', 'a', 'a', 'b', 'd', 'e', 'e', 'n', 'r', 's', 's', 't', 'u']

In [300]:
## emparejar listas
seq1 = ["uno","dos","tres"]
seq2 = [1,4,9]
seq=zip(seq1,seq2)
print(seq)
print(type(seq))
print(list(seq))

<zip object at 0x00855AD0>
<class 'zip'>
[('uno', 1), ('dos', 4), ('tres', 9)]

In [301]:
## desemparejar listas
seq1 = ["uno","dos","tres"]
seq2 = [1,4,9]
seq=list(zip(seq1,seq2))
print(seq)

rseq1,rseq2 =zip(*seq)
print(rseq1)


#rseq1,rseq2=zip(*seq)

[('uno', 1), ('dos', 4), ('tres', 9)]
('uno', 'dos', 'tres')

In [302]:
seq1 = ['uno', 'dos', 'tres']
seq2 = ['a', 'be', 'ce']
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('i={0} a={1} b={2}'.format(i, a, b))

i=0 a=uno b=a
i=1 a=dos b=be
i=2 a=tres b=ce

## Diccionarios
Los diccionarios con la implementaci贸n de Python de Hash maps. Es una de las estructuras de datos m谩s importantes.
Es una colecci贸n de tama帽o fl帽exible de parejas llave:valor, donde ambas son objetos de Python.
Pueden ser creados con "{}" o con la funci贸n `dict`

In [303]:
diccionario = dict()
d1 = {'a': 'un valor', 'b': 'otro valor'}

Se pueden acceder o insertar elementos usando la misma sintaxis que las listas.

In [304]:
d1['c'] = 'todav铆a otra'
print(d1['c'])
print(d1)

d1[7]="Un entero"
print(d1)

#d1['b']

#Se puede indagar si una llave est谩 en un diccionario

print("a" in d1)

print("w" in d1)

todav铆a otra
{'a': 'un valor', 'b': 'otro valor', 'c': 'todav铆a otra'}
{'a': 'un valor', 'b': 'otro valor', 'c': 'todav铆a otra', 7: 'Un entero'}
True
False

Es posible pedir una lista con las llaves o los valores del diccionario. Las listas retornadas por ambos tienen el mismo orden.

In [305]:
d1.keys()

dict_keys(['a', 'b', 'c', 7])

In [306]:
d1.values()

dict_values(['un valor', 'otro valor', 'todav铆a otra', 'Un entero'])

In [307]:
#Borrar valores
print(d1)
del d1["c"]
print(d1)

d1.pop("b")
print(type(a_borrar))
print(d1)

{'a': 'un valor', 'b': 'otro valor', 'c': 'todav铆a otra', 7: 'Un entero'}
{'a': 'un valor', 'b': 'otro valor', 7: 'Un entero'}
<class 'str'>
{'a': 'un valor', 7: 'Un entero'}

Es posible "concatenar" diccionarios en con la funci贸n `update`

In [308]:
diccionario.update(d1)

In [309]:
#### Uni贸n de diccionarios

d1.update({"q":"otro valor","m":"otro m谩s"})
d1

{'a': 'un valor', 7: 'Un entero', 'q': 'otro valor', 'm': 'otro m谩s'}

## Mapear valores a un diccionario

In [310]:
una_lista = ['Andres', 'Beatriz', 'Carlos']
mapping = {}
print(type(mapping))
for indice, valor in enumerate(una_lista):
    mapping[str(indice)] = valor

print(mapping)

<class 'dict'>
{'0': 'Andres', '1': 'Beatriz', '2': 'Carlos'}

In [311]:
#### Diccionarios de secuencias

lista_llaves = ['llave1','llave2','llave3']
lista_valores = ['valor1','valor2','valor3']
mapping = {}
for llave, valor in zip(lista_llaves, lista_valores):
    mapping[llave] = valor
print("imprimiendo mapping",mapping)


mapping_2 =dict(zip(lista_llaves,lista_valores))
print("imprimiendo mapping_2 ",mapping_2)

imprimiendo mapping {'llave1': 'valor1', 'llave2': 'valor2', 'llave3': 'valor3'}
imprimiendo mapping_2  {'llave1': 'valor1', 'llave2': 'valor2', 'llave3': 'valor3'}

Valores por defecto

In [312]:
palabras = ['amarillo', 'bate', 'bosque', 'ahorro', 'burro']
por_letra_v2 = {}
for palabra in palabras:
    inicial = palabra[0]
    por_letra_v2.setdefault(inicial, []).append(palabra)
    
print(por_letra_v2)
print(por_letra_v2["a"])

{'a': ['amarillo', 'ahorro'], 'b': ['bate', 'bosque', 'burro']}
['amarillo', 'ahorro']

## Conjuntos
Los conjuntos son colecciones sin orden y elementos 煤nicos, se declara de forma similar a los diccionarios con "{}" o con la funci贸n `set`.  
Soportan operaciones de conjuntos como uni贸n, intersecci贸n, diferencia y diferencia sim茅trica.

In [313]:
m={1,2,3}
m
print(type(m))

n=set([3,4,5])
print(type(n))

### Uni贸n de conjuntos
print("Union ",m.union(n))

### Intersecci贸n
print("Intersecci贸n ",m.intersection(n))

### diferencia
print(m-n)

<class 'set'>
<class 'set'>
Union  {1, 2, 3, 4, 5}
Intersecci贸n  {3}
{1, 2}

## Creaci贸n de objetos por comprensi贸n

In [314]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [315]:
#### Creaci贸n de una lista por comprensi贸n
list_Com=[]
[list_Com.append(val) for val in strings]
print(list_Com)

['a', 'as', 'bat', 'car', 'dove', 'python']

In [316]:
### Creaci贸n de un conjunto con la cantidad de caracteres de los elementos de una lista
long_unicas = {len(x) for x in strings}
print(long_unicas)

{1, 2, 3, 4, 6}

In [317]:
### Creaci贸n de un diccionario por comprensi贸n

loc_mapping = {val : index for index, val in enumerate(strings)}
print(loc_mapping)

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}